body {
  background-color: #000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas {
  width: 800px;
  height: 600px;
}

.capture {
  color: #fff;
  font-size: 30px;
}
.previewImageSmall {
  width: 800px;
  height: 600px;
}